.todoListContainer {
  margin: 0 auto;
  padding: 2rem;
}
.todoItemContainer {
  margin: 0 auto;
}

.todoItemText {
  user-select: none;
}

.notificationQueneContainer {
  position: absolute;
  left: 5px;
  top: 5px;

  display: flex;
  flex-direction: column;
}
